.card-details{
	box-sizing:border-box;
	border:0px;
	width: 34%;  /* Make Media Query*/
	margin: 0 auto;
	border-color:white;
	border-style:solid;
	border-radius:10px;
	background-color:#def2f1;
	box-shadow: 0 10px 20px rgba(0,0,0,.4) ;
	background-color:#3aafa9;
}

.img{
	margin-right: 12px;
}


.card-details .payment-details{
	font-size:13px;
	width:auto;
	padding:5px;
	color: #feffff;
}

.payment-title{
	color: #def2f1;
	font-size: 40px;
}


.row1,.row2,.row3{
	padding:20px 15px;
	font-size:20px;
	font-weight:50;
}

.row2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.column1 {
	margin-right: 30px;
}

.card-details input{
	margin-top: 10px;
	box-sizing:border-box;
	border:0px;
	padding: 5px;
	border-color:black;
	border-style:solid;
	border-radius:4px;
	font-size: 1.5em;
	width:100%;
	background-color:#def2f1;
	padding-left:20px;
	font-size: 20px;
	height:50px;
	color:#2b7a78;
	box-shadow: 0 10px 10px rgba(0,0,0,.1);

}

.card-details .type{
	margin:0 auto;
	padding-top:20px;
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: #2b7a78;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-details .type{
	border-bottom:1px;
	border-bottom-style:solid;
	border-bottom-color:black;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.box1 input {
	width: 100%
}

form {
	padding: 15px 10px;
	color: #def2f1;;
}
.card-details .btn{
	margin-top: 10px;
	margin-left:66px;
	background-color:#def2f1;
	height:50px;
	margin:0 auto;
	margin-top: 15px;

	text-align:center;
	padding-left:20px;
	padding-right:20px;
	font-size:20px;
	border-radius:50px;
	border:0px;
	color:#3aafa9;
	margin-left: 26%;
	box-shadow: 0 10px 10px rgba(0,0,0,.21);

}

/* .card-details .btn{
	background-color:#def2f1;
	height:50px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
	font-size:20px;
	border-radius:50px;
	border:0px;
	color:#3aafa9;
	margin-left: 26%;
	box-shadow: 0 10px 10px rgba(0,0,0,.2);
	font-weight:bold;
} */
