.navbar{

}

.nav-brand-type{
  color: black;
}

a.nav-link{
  color: black;
}

.banner-container{
  background-color: white;
  text-align: center;
  margin:0 auto;
  height:25vh
}


#msg{
  color:black;
  padding:200px 0;
}

.text-wrapper{
  border: 1px solid black;
  padding: 100px;
}

.profile-wrapper{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
  display: block
}
.profiles-container-top{
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profiles-container-bottom{
  width: 35%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile{
  margin:0 auto;
}

.profile-photos{
  max-width: 100%;
}
