.navbar{

}

.nav-brand-type{
  color: black;
}

a.nav-link{
  color: black;
}

.banner-container{
  background-color: white;
  text-align: center;

}


#msg{
  color:black;
  padding:200px 0;
}

.text-wrapper{
  border: 1px solid black;
  padding: 100px;
}
