body {
	background-color: #2b7a78;
	font-family: "Circular Std Medium", san-serif;
}
a{
  color: black;
}

.title-banner h1{
	text-align:center;
	padding-top:200px;
}

fieldset{
	color: black;
}

.fillOut1{
	background-color: blue;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#f1{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

#click{
	color: white;
	border: 1px solid white;
	background-color: #2b7a78;
	padding: 30px;
	width: 100%;
	margin: 5px;
}
