body {
	background-color:  #333;
	font-family: "Circular Std Medium", san-serif;
}
a{
  color: black;
  
}

.title-banner h1{
	text-align:center;
	padding-top:200px;
}

fieldset{
	color: white;
}

.fillOut{
	margin-right: auto;
	margin-left: auto;
	background-color: blue;
	padding: 20px;
}

#click{
	color: white;
	border: 1px solid white;
	background-color: black;
}