body {
	background:linear-gradient(to top, #3AAFA9 0%, #2b7a72 100%);
	font-family: "Circular Std Medium", san-serif;
}
a{
  color: black;
}
section{
	width:  100%;
	height:100vh;
	box-sizing: border-box;
	padding: 300px 0;
	text-align:center;
	text:center;
	font-size:60px;
}  










































































































































































































































































































































































































































































































































































































.